<h1 class="page-header">Dashboard</h1>
<div class="table-responsive">
  <div class="col-md-12" id="chart"></div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Transfer Number</th>
        <th>Currency</th>
        <th>Seller</th>
        <th>Buyer</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(transfers, function(transfer) { %>
      <tr>
        <td><%= transfer.pk %></td>
        <td><%= transfer.fields.currency %></td>
        <td><%= transfer.fields.source_exchanger %></td>
        <td><%= transfer.fields.destination_exchanger %></td>
        <td><%= transfer.timeFormatted %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>